#include "templates/common_header_tpl.html"
 <p class="subreddits">
  most popular subreddits:
 #if $next_page or $prev_page
  <span class="more"> 
   #if $prev_page
    <a href="$prev_page_link">&lt;-- prev page</a>
   #end if
   #if $next_page and $prev_page
    |
   #end if
   #if $next_page
    <a href="$next_page_link">next page --&gt;</a>
   #end if
  </p>
 #end if
 </<span>

 #for subreddit in $subreddits
  <p class="subreddit">
    <a href="/r/$subreddit.reddit_name/">$subreddit.name</a>
    <span class="info">(/r/$subreddit.reddit_name/)</span><br>
    <span class="info2">$subreddit.subscribers subscribers</span>
    <span class="desc">#if len($subreddit.description) then ' -- ' + $subreddit.description else '' #</span>
  </p>
 #end for
 
 #if $next_page or $prev_page
  <p class="more">view more: 
   #if $prev_page
    <a href="$prev_page_link">&lt;-- prev page</a>
   #end if
   #if $next_page and $prev_page
    |
   #end if
   #if $next_page
    <a href="$next_page_link">next page --&gt;</a>
   #end if
  </p>
 #end if

#include "templates/common_footer_tpl.html"
